@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'opensans', Verdana, Geneva, Tahoma, sans-serif;
}

.navBar, footer {
    background-color: #bae8e8;
    padding: 5px 0;
}

body {
    background-color: #e3f6f5;
}

button, .button {
    background-color: #ffd803;
    color: #272343;
    border-style: none;
    cursor: pointer;
    font-weight: 400;
}

.navBar {
    display: flex;
    padding: 0;
}

.navBar img {
    max-width: 150px;
    float: left;
    align-items: center;
    padding-right: 15px;
}

.navigation {
    display: inline-flex;
    justify-content: space-evenly;
}

.navigation a {
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: #272343;
    line-height: 3;
}

.navigation a:hover {
    color: #ffd803;
}

.left-navBar {
    float: left;
}

.right-navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 350px;
    line-height: 3;
}

.loginSignup button {
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: #272343;
    padding: auto;
    font-style: italic;
    font-size: 45px;
    padding: 15px;
}

h2 {
    color: #2d334a;
}

p {
    color: #2d334a;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.grid {
    border-radius: 5px;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
}

.products img {
    max-width: 300px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    align-items: center;
}

.products {
    background-color: #fffffe;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 450px;
    overflow: auto;
    padding: 15px;
    border-radius: 5px;
    padding: 30px 15px;
}

.products h2 {
    background-color: #e3f6f5;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.products p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.products button {
    width: 160px;
    height: 70px;
    border-radius: 10px;
    border-style: none;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.contact-header {
    text-align: center;
    padding-bottom: 40px;
}

.contact-header p {
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
}

.contact-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

form {
    text-align: center;
}

input, select, textarea {
    background-color: #fffffe;
    border: 2px solid #bae8e8;
    border-radius: 10px;
    color: #2d334a;
}

input, select {
    width: 30rem;
    height: 2em;
    text-align: center;
}

.button {
    width: 140px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.submit-spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerButtons {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 25px 0;
}
.footerButtons button {
    width: 160px;
    height: 70px;
    border-radius: 10px;
    border-style: none;
    text-decoration: none; 
}
footer {
    align-items: center;
    text-align: center;
    padding: 5px;
}